body{
    background-color: rgb(136, 174, 199);
    font-size: 40px;

    display: flex;
    flex-direction: column;   /* mantiene orden vertical */
    align-items: center;      /* centra en horizontal */
}

p{
    color: blue;
    font:bold;
    height: 18%;
    width: 90%;

    display: flex;
    justify-content: center;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 90%;
    height: 6%;

    margin: 1.5rem;
}

.navegador{
    background-color: bisque;
}