body{
    background-color: rgb(136, 174, 199);
    font-size: 40px;

    display: flex;
    flex-direction: column;   /* mantiene orden vertical */
    align-items: center;      /* centra en horizontal */
}

p{
    color: blue;
    font:bold;
    height: 18%;
    width: 90%;

    display: flex;
    justify-content: center;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 90%;
    height: 6%;

    margin: 0.9rem;
}

.navegador{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: bisque;
    width: 90%;
    height: 3%;

    margin: 0.9rem;
}

.articulo{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 60%;
    height: 45%;

    margin: 0.9rem;
}

.seccion{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgreen;
    width: 80%;
    height: 8%;

    margin: 0.9rem;
}

.aside{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: auto;
    height: auto;

    margin: 0.9rem;
}

.pisado{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 90%;
    height: 15%;

    margin: 0.9rem;
}