body{
    background-color: rgb(136, 174, 199);
    font-size: 40px;

    display: flex;
    flex-direction: column;   /* mantiene orden vertical */
    align-items: center;      /* centra en horizontal */
}

p{
    color: blue;
    font:bold;
    height: 18%;
    width: 90%;

    display: flex;
    justify-content: center;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 90%;
    height: 6%;

    margin: 0.9rem;
}

.navegador{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: bisque;
    width: 90%;
    height: 3%;

    margin: 0.9rem;
}
.divisor{   /* Este es un div que me ayuda a juntar tanto el article como el aside para poder dejarlos en horizontal*/
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 400px;
}

.articulo{
    flex-direction: column; /* Todo el contenido lo vuelve en direccion vertical (Columna) */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 80%;
    height: auto;

    margin: 0.9rem;
}

.seccion{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgreen;
    width: 80%;
    height: 16%;

    margin: 0.9rem;
}

.aside{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 20%;
    height: auto;

    margin: 0.9rem;
}

.pisado{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: bisque;
    width: 90%;
    height: 15%;

    margin: 0.9rem;
}
#borde{
    border: solid 1px;
    border-color: blue
}